/* 
Continue to build your personal website. Include some of the selectors you learned today. For example:

create a decorator element with a ::before selector
style the :link, :visited, :active, :hover state of your links
use combinators instead of classes if possible: footer ul > li instead of .footer-list-item

*/

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #932329;
  --nav-bgcolor: #0c2233;
  --links-color: #fdc045;
  --links-hovercolor: #128bb7;
  --links-visitedcolor: #ffb514;
  --background-color: #eeebdd;
  --background-color-secundary: #bcf0fc;
}

body {
  background-color: var(--background-color-secundary);
}

/* Styles of Heading div with logo */

header {
  display: flex;
  position: fixed;
  top: 0;
}

.title-and-logo-container {
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
  padding-left: 3rem;
}

.titles-div {
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 3px;
  margin-top: 0.2rem;
}

.title,
.subtitle {
  font-size: 16px;
  color: var(--links-color);
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  background-color: var(--background-color-secundary);
}

/* Navigation Styles */

nav {
  background-color: var(--nav-bgcolor);
}

nav li > a {
  color: var(--links-color);
}

nav li > a::before {
  content: icon;
}

nav li > a:hover {
  color: var(--links-hovercolor);
}

nav li > a:active {
  background-color: var(--links-visitedcolor);
}

nav li > a:visited {
  color: var(--links-visitedcolor);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
  padding-right: 3rem;
}

.nav-item {
  text-decoration: none;
}

/* Body Styles */
