/* 
to do/ask: why i habe a separation from html document: margin 0 to body!!
*/

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff2828;
  --nav-bgcolor: #0c2233;
  --links-color: #fdc045;
  --links-hovercolor: #00216c;
  --links-visitedcolor: #ffb514;
  --background-color: #f2e39e;
  --background-color-secundary: #bcf0fc;
}

body {
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}

/* Styles of Heading div with logo */

header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  /* if body is var(--background-color: (yellow))*/
  background: rgb(12, 34, 51);
  background: linear-gradient(
    180deg,
    rgba(12, 34, 51, 1) 0%,
    rgba(18, 139, 183, 1) 61%,
    rgba(137, 187, 199, 1) 79%,
    rgba(242, 227, 158, 1) 93%
  );
  /* if body is var(--background-color-secundary: (blue)) */
  /* background: rgb(12, 34, 51);
    background: linear-gradient(
      180deg,
      rgba(12, 34, 51, 1) 0%,
      rgba(18, 139, 183, 1) 69%,
      rgba(188, 240, 252, 1) 100%
    ); */
  width: 100%;
  height: 8rem;
  justify-content: space-between;
  gap: 5rem;
  padding-top: 1rem;
}

.title-and-logo-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1rem;
  z-index: 1;
  width: 100%;
}

.titles-div {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  gap: 1rem;
  padding-top: 0.3rem;
}

.title,
.subtitle {
  color: var(--links-color);
}

.title {
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 70;
}

.subtitle {
  font-size: 13px;
  font-weight: 50;
  padding-top: 0.37rem;
}

.logo {
  margin-top: 0.1rem;
  padding-left: 0.2rem;
  height: 3rem;
}

/* Navigation Styles */

nav {
  width: 100%;
}

nav li > a {
  color: var(--links-color);
}

nav li > a:hover {
  color: var(--links-hovercolor);
  text-decoration: underline;
  text-decoration-color: var(--links-visitedcolor);
}

nav li > a:active {
  background-color: var(--links-visitedcolor);
}

nav li > a:visited {
  color: var(--links-visitedcolor);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
  padding-right: 2rem;
}

.nav-item {
  text-decoration: none;
  font-size: 18px;
}

/* Body Styles <main></main>*/

main {
  position: absolute;
  top: 8rem;
  color: var(--links-hovercolor);
  width: 100%;
}

/* ---General Styles for the 2 Article in bio secction */

.bio_and_career_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

h3::before,
h4::before {
  content: " ► ";
}

.bio-secction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  border: 3px solid green;
}

/* ---Styles bio-header in bio-Section */

.bio-header {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  width: ;
}

.bio-description {
  max-width: 219px;
}

/* --Styles bio-career */
.bio-career {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.certification-link {
  text-decoration: none;
  color: var(--links-hovercolor);
}
